
<h1>Thêm món ăn</h1>
<div class="mt-04">
  <form method="POST" action="/food/store">
    <div class="form-group">
      <label for="title">Tên</label>
      <input type="text" name="title" class="form-control" id="title"  placeholder="....">
      
    </div>
    <div class="form-group">
      <label for="Image">Hình ảnh</label>
      <input type="text" name="image" class="form-control" id="image" placeholder=".....">
    </div>
    <div class="form-group">
      <label  for="making">Making</label>
      <input type="text" name="making" class="form-control" id="making">
    </div>
    <button type="submit" class="btn btn-primary">Tạo</button>
  </form>
</div>
