.test {
  font-size: 1px; }

.user-avatar {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  margin-right: 4px; }

.icon-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 4px; }

.img-food {
  display: block;
  max-width: 300px;
  max-height: 300px;
  width: auto;
  height: auto;
  object-fit: cover; }

.img-cate {
  display: block;
  height: 200px;
  width: auto;
  object-fit: cover; }

.project {
  margin: 15px 0; }

.no-gutter .project {
  margin: 0 !important;
  padding: 0 !important; }

.has-spacer {
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 30px; }

.has-spacer-extra-space {
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 30px; }

.has-side-spacer {
  margin-left: 30px;
  margin-right: 30px; }

.project-title {
  font-size: 1.25rem; }

.project-skill {
  font-size: 0.9rem;
  font-weight: 400;
  letter-spacing: 0.06rem; }

.project-info-box {
  margin: 15px 0;
  background-color: #fff;
  padding: 30px 40px;
  border-radius: 5px; }

.project-info-box p {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #d5dadb; }

.project-info-box p:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: none; }

.img-details {
  margin-top: 50px;
  display: block;
  max-width: 800px;
  max-height: 800px;
  width: auto;
  height: auto;
  object-fit: cover; }

.rounded {
  border-radius: 5px !important; }

.btn-xs.btn-icon {
  width: 34px;
  height: 34px;
  max-width: 34px !important;
  max-height: 34px !important;
  font-size: 10px;
  line-height: 34px; }

.project-info-box p {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #d5dadb; }
