
<div class="row justify-content-md-center mt-4">
    
    <div class="col-md-4 boder">
        <div class="title mb-4"> 
            <h1>Đăng kí</h1>
        </div>

        <form method="POST" action="/me/register">
            <div class="form-group">
                <label class="font-weight-bold">Nhập tên đăng nhập</label>
                <input type="text" class="form-control"  name="user_name"  placeholder="Nhập tên đăng nhập">
                
            </div>
            <div class="form-group">
                <label class="font-weight-bold">Nhập mật khẩu</label>
                <input type="password" class="form-control" name="password" placeholder="Nhập mật khẩu">
            </div>
             <div class="form-group">
                <label class="font-weight-bold">Nhập lại mật khẩu</label>
                <input type="password" class="form-control" name="re_password" placeholder="Nhập lại mật khẩu">
            </div>          
            <button type="submit" class="btn btn-primary mt-2">Tạo tài khoản</button>
            
        </form>
    </div>

</div>
